<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta name="referrer" content="no-referrer" />
    <meta charset="UTF-8">
    <title>转账窗口</title>
    <script th:src="@{https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.bootcdn.net/ajax/libs/jsencrypt/2.1.0/jsencrypt.min.js}"></script>
    <script th:src="@{/static/crypto-js.min.js}"></script>
    <script th:src="@{/static/sha1.js}"></script>
    <script th:src="@{/static/RSA.js}"></script>
    <script th:src="@{/static/Hybrid.js}"></script>
  <script th:src="@{https://code.jquery.com/jquery-3.1.1.min.js}"></script>
  <script th:src="@{/static/init.js}"></script>
  <script th:src="@{/static/service.js}"></script>
    <link th:href="@{/static/login.css}" rel="stylesheet" type="text/css"/>
</head>
<body background="/static/img/VCG41N1022842358.jpg"
      style="background-repeat:no-repeat;
               background-attachment:fixed;
               background-size:100% 100%; ">
<div class="container">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <h2>转账</h2>
        <input id="cardNum2" type="password" placeholder="银行卡号">
        <input id="target" type="text" placeholder="收受方账号">
        <input id="tranAmount" type="number" placeholder="转账金额">
        <button class="submit_button" onclick="transfer()">转账</button>
    </div>
</div>
</body>
</html>